@model List<EnjoyOurTour.Models.ViewModel.Admin.CustomersTestimonyViewModel>

@{
    ViewBag.Title = "CustomerTestimony";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <h1 class="page-header">
        Customer Testimony
        <a href="@Url.Action("AddCustomersTestimony", "Admin")" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Add New Testimony
        </a>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="CustomerTestimonyTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="No" data-identifier="true">No.</th>
                        <th data-column-id="TestimonyId" data-visible="false" data-visible-in-selection="false">Testimony Id</th>
                        <th data-column-id="PhotoPath" data-formatter="pix">Testimony Image</th>
                        <th data-column-id="Description">Description</th>
                        <th data-column-id="CreatedBy">Created By</th>
                        <th data-column-id="CreatedAt">CreatedAt</th>
                        <th data-column-id="UpdatedBy">Updated By</th>
                        <th data-column-id="UpdatedAt">Updated At</th>
                        <th data-column-id="ActionColumnBar" data-formatter="ActionColumnBar">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.TestimonyId</td>
                            <td>@item.PhotoPath</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.UpdatedAt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="action-column-bar hide">
    <a href="@(Url.Action("EditCustomersTestimony", "Admin", new { id = "{Id}" }))" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Update Package"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="@Url.Action("DeleteCustomersTestimony","Admin", new{id = "{Id}"})" class="btn btn-default delete-promotionimage" data-toggle="tooltip" data-placement="left" title="Delete Package"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CustomerTestimonyTable").bootgrid({
            formatters: {
                "ActionColumnBar": function (column, row) {
                    var el = $("div.action-column-bar").html();
                    el = el.replace("%7BId%7D", row.TestimonyId).replace("%7BId%7D", row.TestimonyId).replace("%7BId%7D", row.TestimonyId).replace("%7BId%7D", row.TestimonyId);

                    return el;
                },
                "pix": function (column, row) {
                    return ('<img style="width:200px; height:100px;" src="/Image/CustomersTestimony/' + row.PhotoPath + '" />');
                }
            }
        }).on("loaded.rs.jquery.bootgrid",
            function () {
                $(this).find('[data-toggle="tooltip"]').tooltip();

                $(this).find("a.delete-promotionimage").on("click", function (e) {
                    if (confirm("Do you want to delete the Customers Testimony?")) {
                        return true;
                    }

                    e.preventDefault();

                    return false;
                });
            });;
    });
</script>