@model List<EnjoyOurTour.Models.ViewModel.Customer.IntroducerTransactionViewModel>

@{
    ViewBag.Title = "IntroducerTransactionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <h1 class="page-header">
       Card Holder Transaction List
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="IntroducerTransactionTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="No" data-identifier="true">No.</th>
                        <th data-column-id="CreditAmount">Credit Amount</th>
                        <th data-column-id="FinalAmount">Current Total Amount</th>
                        <th data-column-id="DebitAmount">Debit Amount</th>
                        <th data-column-id="CreditTVR">Credit TVR</th>
                        <th data-column-id="FinalTVR">Current Total TVR</th>
                        <th data-column-id="DebitTVR">Debit TVR</th>
                        <th data-column-id="CreditPoint">Credit Point</th>
                        <th data-column-id="FinalPoint">Current Total Point</th>
                        <th data-column-id="DebitPoint">Debit Point</th>
                        <th data-column-id="CreatedAt">Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.CreditAmount</td>
                        <td>@item.FinalAmount</td>
                        <td>@item.DebitAmount</td>
                        <td>@item.CreditTVR</td>
                        <td>@item.FinalTVR</td>
                        <td>@item.DebitTVR</td>
                        <td>@item.CreditPoint</td>
                        <td>@item.FinalPoint</td>
                        <td>@item.DebitPoint</td>
                        <td>@item.CreatedAt</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>
