@model EnjoyOurTour.Models.ViewModel.Customer.TopUpViewModel
@{
    ViewBag.Title = "Top Up Amount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form id="UpdateCustomerProfileForm" name="UpdateCustomerProfileForm" method="post">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-lg-offset-3" id="errormsg">

        </div>
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Top Up Amount to get more TVR Point. Current TVR (@Model.AvailableTVR)</h1>
        </div>
        <div class="col-md-6 col-lg-3 col-lg-offset-3">
            <input hidden id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
            <div class="form-group">
                <label for="CustomerName">Agent Code</label>
                <label id="CustomerName" name="CustomerName" class="form-control">@Model.CustomerName</label>
                @Html.ValidationMessageFor(e => e.CustomerName)
            </div>  
            <div class="form-group">
                <label for="AgentCode">Agent Code</label>
                <label id="AgentCode" name="AgentCode" class="form-control">@Model.AgentCode</label>
                @Html.ValidationMessageFor(e => e.AgentCode)
            </div>

            <div class="form-group">
                <label for="AvailableAmount">Available Amount</label>
                <label id="AvailableAmount" name="AvailableAmount" class="form-control">@Model.AvailableAmount</label>
                @Html.ValidationMessageFor(e => e.AvailableAmount)
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="form-group">
                <label for="NRIC">NRIC</label>
                <label id="NRIC" name="NRIC" class="form-control">@Model.NRIC</label>
                @Html.ValidationMessageFor(e => e.NRIC)
            </div>
            <div class="form-group">
                <label for="AvailablePoint">Available Point</label>
                <label id="AvailablePoint" name="AvailablePoint" class="form-control">@Model.AvailablePoint</label>
                @Html.ValidationMessageFor(e => e.AvailablePoint)
            </div>
            <div class="form-group">
                <label for="SignUpAmount">Top Up Amount</label>
                @Html.DropDownListFor(e => e.TopUpAmountValue, Model.TopUpAmount, "--Please Select amount to top up--", new { @class = "form-control", id = "dllTopUpAmount" })
                @Html.ValidationMessageFor(e => e.TopUpAmount)
                <input type="number" id="OtherAmount" name="OtherAmount" class="form-control" style="visibility:hidden" placeholder="Please key in multiply of 400" value="@Model.OtherAmount" />
            </div>
            <div class="form-group">
                <label for="Image">Bank in Slip</label>
                <input type="file" id="Image" name="Image" accept="image/*" />
                <img id="showImage" style="width: 50%; display: none;margin-top: 5px" />
                @Html.ValidationMessageFor(e => e.Image)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="button" id="btnSubmit" class="btn btn-primary pull-right">Submit</button>
        </div>        
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <button type="button" class="btn btn-block pull-right" onclick="history.go(-1);">Back</button>
        </div>
    </div>
</form>
<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script>


    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#showImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $('#Image').on('change', function () {
        readURL(this);
        $('#showImage').show();
    });


    $('#Image').change(function (e) {
        var fileSize;
        var fileType;
        fileSize = $('#Image')[0].files[0].size;
        fileType = $('#Image')[0].files[0].type;
        if (fileSize < 25000000) {
            overSize = false;
            switch (fileType) {
                case 'image/png':
                    break;
                case 'image/jpg':
                    break;
                case 'image/jpeg':
                    break;
                default:
                    alert('Unsupport format! Please insert image files only.');
                    $('#Image').val("").change();
            }
        } else {
            alert('This file is too large! Please select a new file.');
            $('#Image').val("").change();
        }
    });


    $("#dllTopUpAmount").change(function () {
        var topUpAmount = this.value;
        if (topUpAmount == "Other") {
            $("#OtherAmount").css('visibility', 'visible');
        } else {
            $("#OtherAmount").css('visibility', 'hidden');
        }
    });

    $(document).ready(function () {
        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            $('.loading').css('display', 'block');
            var image = document.getElementById('Image').files[0];
            var form = $('form')[0];
            var formData = new FormData();
            formData.append('OtherAmount', $('#OtherAmount').val());
            formData.append('TopUpAmountValue', $("#dllTopUpAmount option:selected").text());
            formData.append('Image', document.getElementById('Image').files[0]);
                        
            $.ajax({
                url: "/Customer/TopUpCustomer",
                contentType: false,
                processData: false,
                traditional: true,
                dataType: 'json',
                data: formData,
                type: "POST",
                success: function (data) {     
                    if (data.success == true) {
                        $('.loading').css('display', 'none');
                        swal({
                            title: "Done",
                            text: "Successfully submit to officer.",
                            type: "success"
                        },
                        function () {
                            window.location.href = '/Customer/TravelPromotion';
                        });
                    } else {
                        $("#errormsg").html("");
                        var errormsg = "";
                        console.log(data.errors);
                        for (var i = 0; i < data.errors.length; i++) {
                            errormsg = errormsg  + "<li>" + data.errors[i] + "</li>"
                        }
                        var wholediv = "<p><strong>An error occured whilst trying to save this issue.</strong></p> " + "<ul data-bind='foreach: saveErrors()'>" + errormsg + "</ul>";
                        $("#errormsg").append(wholediv);
                    }                  
                },
                error: function (data) {
                    $('.loading').css('display', 'none');
                    //swal("Oops", "We couldn't connect to the server!", "error")
                }                
            });
        });
    });
</script>