}
@model EnjoyOurTour.Models.ViewModel.Package.PackageViewModel
@{
    ViewBag.Title = "DeletePackage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h1 class="page-header">Delete Package</h1>
</div>

<form id="EditNewBannerForm" style="color:#001a33;" name="EditNewBannerForm" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <input hidden id="PackageId" name="PackageId" value="@Model.PackageId" />
            <div class="form-group">
                <label for="PackageName">Package Name:</label></br>
                <input type="text" id="PackageName" name="PackageName" value="@Model.PackageName" readonly/>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea id="Description" name="Description" readonly>@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label for="IteneraryDetail">Itenerary Detail:</label><br />
                <textarea id="IteneraryDetail" name="IteneraryDetail" readonly>@Model.Description</textarea>
            </div>

            <div class="form-group">
                <label for="PhotoPath" id="lblPhotoPath">Package Image</label>
                <input type="file" id="PhotoPath" name="PhotoPath" accept="image/png, image/jpeg, image/jpg" oninput="setCustomValidity('')" required onchange="document.getElementById('showPackage').style.display = 'block'; if (this.files && this.files[0]) { var reader = new FileReader(); reader.onload = function (e) { $('#showPromo').attr('src', e.target.result); }; reader.readAsDataURL(this.files[0]); }" disabled />
                <i style="color:crimson;">** Recommended Image Resolution 2048px*1152px</i>
                <br />
                <img id="showPackage" style="width:50%; display:none;" />
            </div>

            <div class="form-group">
                <div class="col-md-4 col-lg-4 form-group" style="padding:0px">
                    <label for="Amount">Amount:</label><br />
                    <input type="number" id="Amount" name="Amount" value="@Model.Amount" readonly/>
                </div>
                <div class="col-md-4 col-lg-4 form-group" style="padding:0px"></div>
                <div class="col-md-4 col-lg-4">
                    <label for="TVR">TVR:</label><br />
                    <input type="number" id="TVR" name="TVR" value="@Model.TVR" readonly/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="submit" id="deletePackage" class="btn btn-primary pull-right">Confirm Delete</button>
        </div>
    </div>
</form>
<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script>
    $(document).ready(function () {
        $('#deletePackage').click(function (e) {
            e.preventDefault();
            $('.loading').css('display', 'block');

            var packageId = $('#PackageId').val();

            $.ajax({
                url: "/Package/DeletePackage",
                contentType: false,
                processData: false,
                traditional: true,
                dataType: 'json',
                data: { packageId: packageId},
                type: "POST",
                success: function (data) {
                    $('.loading').css('display', 'none');
                    swal({
                        title: "Done",
                        text: "Package deleted!",
                        type: "success"
                    },
                    function () {
                        window.location.href = '/Package/Package';
                    });
                },
                error: function (data) {
                    $('.loading').css('display', 'none');
                }
            });

        });
    });
</script>