
@model EnjoyOurTour.Models.ViewModel.Merchant.AddMerchantPromotionViewModel
@{
    ViewBag.Title = "AddMerchantPromotion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-6 col-lg-offset-3">
        <h1 class="page-header">Update Merchant Promotion</h1>
    </div>
</div>

<form id="EditNewBannerForm" style="color:#001a33;" name="EditNewBannerForm" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <input hidden id="MerchantPromotionId" name="MerchantPromotionId" value="@Model.MerchantPromotionId" />
            <div class="form-group" style="width:300px">
                <label for="MerchantName" id="MerchantName">Merchant Name:</label><br />
                @Html.DropDownListFor(e => e.MerchantIdList, Model.MerchantIdList, "--Please Select Merchant--", new { @class = "form-control", id = "ddlMerchantId" })
                @Html.ValidationMessageFor(e => e.MerchantIdList)
            </div>
            <div class="form-group">
                <label for="MerchantPromotionDetail" id="MerchantPromotionDetail">Merchant Promotion Detail:</label><br/>
                <textarea id="inputMerchantPromotionDetail" class="form-control" name="MerchantPromotionDetail">@Model.MerchantPromotionDetail</textarea>
                @Html.ValidationMessageFor(e => e.MerchantPromotionDetail)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="submit" id="editMerchantPromo" class="btn btn-primary pull-right">Update Merchant Promotion</button>
        </div>
    </div>
</form>
<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script>
    CKEDITOR.replace('inputMerchantPromotionDetail');

    $(document).ready(function () {
        $("#ddlMerchantId").val('@Model.MerchantId');

        $('#editMerchantPromo').click(function (e) {
            e.preventDefault();
            $('.loading').css('display', 'block');

            if ($('#inputMerchantPromotionDetail').val() == '') {
                $('#MerchantPromotionDetail').html('<span class="asterisk" style="color:red">*Please enter Merchant Promotion Detail.</span>');
            } else {
                $("#MerchantPromotionDetail .asterisk").remove();
                $('#MerchantPromotionDetail').html('Merchant Promotion Detail:');
            }

            if ($("#ddlMerchantId option:selected").text() == '--Please Select Merchant--') {
                $('#MerchantName').html('<span class="asterisk" style="color:red">*Please Select Merchant.</span>');
            } else {
                $("#MerchantName .asterisk").remove();
                $("#MerchantName").html('Merchant Name:');
            }

            if ($('.asterisk').val() == undefined) {
                var formData = new FormData();
                formData.append('MerchantPromotionId', $('#MerchantPromotionId').val());
                formData.append('MerchantPromotionDetail', CKEDITOR.instances['inputMerchantPromotionDetail'].getData());
                formData.append('MerchantId', $("#ddlMerchantId option:selected").val());

                $.ajax({
                    url: "/Merchant/EditMerchantPromotion",
                    contentType: false,
                    processData: false,
                    traditional: true,
                    dataType: 'json',
                    data: formData,
                    type: "POST",
                    success: function (data) {
                        $('.loading').css('display', 'none');
                        swal({
                            title: "Done",
                            text: "Merchant Promotion updated!",
                            type: "success"
                        },
                            function () {
                                window.location.href = '/Merchant/MerchantPromotion';
                            });
                    },
                    error: function (data) {
                        $('.loading').css('display', 'none');
                    }
                });
            }
        });
    });
</script>